# GIT IGNORING IMPORTANT AND UNWANTED FILES

#### IGNORING THE VIRTUAL ENVIRONMENT 
.venv/

#### IGNORING THE DATA
data/
data/input_domains.csv
data/target_keywords.csv

#### IGNORING THE CONFIG FILES
config/
src/config.py


#### IGNORING PYTHON CACHE FILES
__pycache__/

# IGNORING BEST MATCH 25 (BM25) STAGE 5 SCRIPTS
src/semantic_relevance_filtering_05_.py

# IGNORING UNUSED LOAD AND UTILITY SCRIPTS
src/load_data_not_needed.py
src/utility_not_needed.py





















